@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

body{
    align-items: center;
    background: #FCDC49;
    background: linear-gradient(156deg, rgba(241,166,60,1) 0%, rgba(252,220,73,1) 60%, rgba(254,253,192,1) 100%);
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    font-family: 'Kulim Park', sans-serif;
    font-size: 16px;
    margin: 0;
}

#invite{
    height: 100vh;
    max-width: 100%;
}

@media screen and (min-width: 768px){
    .invite-wrap{
        border: 4px solid black;
    }
}

p{
    font-size: 3em;
}

/*ANIMATIONS*/

.slide-in-bck-center-1 {
	-webkit-animation: slide-in-bck-center 0.7s ease-in-out 1s both;
	        animation: slide-in-bck-center 0.7s ease-in-out 1s both;
}

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
