@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

body{
    align-items: center;
    background: #FCDC49;
    background: linear-gradient(156deg, rgba(241,166,60,1) 0%, rgba(252,220,73,1) 60%, rgba(254,253,192,1) 100%);
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    font-family: 'Kulim Park', sans-serif;
    font-size: 16px;
    margin: 0;
}

h2 {
    font-size: 3.5em;
    font-weight: 700;
}

.width-container{
    display: flex;
    flex-wrap: nowrap;
}

#invite{
    height: 100vh;
    max-width: 100%;
}

section#form, section#info {
    background: #f2f2f2;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 15px 5px #CCCCCC; 
    box-shadow: 0px 5px 15px 5px #CCCCCC;
    margin: 0 2em 2em;
    padding: 1em 2em;
}

input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 0.8em;
    margin: 1em 0 0;
    padding: 0.4em;
    width: 100%;
}

input[type="radio"] {
    width: 2.5em;
    height: 2.5em;
}

button {
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 0.5em;
}

@media screen and (min-width: 768px){
    .width-container{
        flex-wrap: wrap;
    }
}

p{
    font-size: 3em;
}

/*ANIMATIONS*/

.slide-in-bck-center-1 {
	-webkit-animation: slide-in-bck-center 0.7s ease-in-out 1s both;
	        animation: slide-in-bck-center 0.7s ease-in-out 1s both;
}

.slide-in-bck-center-2 {
	-webkit-animation: slide-in-bck-center 0.7s ease-in-out 1.3s both;
	        animation: slide-in-bck-center 0.7s ease-in-out 1.3s both;
}

.slide-in-bck-center-3 {
	-webkit-animation: slide-in-bck-center 0.7s ease-in-out 1.6s both;
	        animation: slide-in-bck-center 0.7s ease-in-out 1.6s both;
}

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-tl
 * ----------------------------------------
 */
.slide-in-tl {
	-webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
	        animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
}

@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
            transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
            transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-bl
 * ----------------------------------------
 */

.slide-in-bl {
	-webkit-animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
	        animation: slide-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
}

@-webkit-keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
            transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
            transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */

.slide-in-br {
	-webkit-animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
	        animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
}

@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */

.slide-in-tr {
	-webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
	        animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
}

@-webkit-keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
            transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
            transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
